html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
}

body {
    height: 100%;
}

.cpt-container {
    height: 100%;
}

.cpt-sidebar, #cpt-mainwindow {
    height: 100%;
    box-sizing: border-box;
}

/*
 * Sidebar CSS
 */

.cpt-sidebar {
    border-right: solid 4px #ededed;
}

.cpt-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cpt-sidebar ul li {
    width: 100%;
    padding-top: 40%;
    padding-bottom: 40%;
    text-align: center;
    box-sizing: border-box;
    border-bottom: solid 2px #ededed;
}

/*
 * Main table CSS
 */

#cpt-mainwindow table {
    width: 100%;
}

/*
 * Form CSS
 */
.cpt-auth {
    padding: 20px;
}
