html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
}

body {
    height: 98%;
}

.cpt-container {
    height: 100%;
    padding: 5px;
}

.cpt-container > div {
    padding: 5px;
    box-sizing: border-box;
    height: 100%;
}

.cpt-coins, .cpt-transactions {
    height: 100%;
    border: solid 3px rgb(230,230,230);
    padding: 10px;
    box-sizing: border-box;
}

.cpt-coins h1, .cpt-transactions h1 {
    float: left;
    margin: 0;
}

.cpt-coins i, .cpt-transactions i {
    margin: 5px 0 0 0;
    float: right;
}
